<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= render "task", task: task %>
      <% if task.subtasks.present? %>
        <ul>
          <% task.subtasks.each do |subtask| %>
            <li><%= render "task", task: subtask %></li>
          <% end %>
        </ul>
      <% end %>
    </li>
    <% end %>
</ul>

<br>

<%= link_to 'New Task', new_task_path %>
